In [1]:
import MySQLdb

##### Creating connection to the database

In [93]:
config = {
    "host" : "localhost",
    "password" : "Mohan@9360",
    "user" : "root"
}

In [94]:
conn = MySQLdb.connect(**config)

Displaying the databases

In [95]:
cursor = conn.cursor()
query = "show databases"
cursor.execute(query)
for i in cursor:
    print(i)

('challan_scanner',)
('information_schema',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('store',)
('sys',)

In [96]:
config = {
    "host" : "localhost",
    "password" : "Mohan@9360",
    "user" : "root" ,
    "db" : "challan_scanner"
}

conn = MySQLdb.connect(**config)

Dispalying the tables ina specific database

In [97]:
cursor = conn.cursor()
query = "show tables"
cursor.execute(query)
for i in cursor:
    print(i)

### Creating table

In [98]:
query = " create table IF NOT EXISTS info(ID int , Firstname varchar(100) , phone int , primary key(ID)) "
cursor.execute(query)
conn.commit()

### Alter default value

In [99]:
query = "ALTER TABLE info MODIFY COLUMN ID INT AUTO_INCREMENT  "
cursor.execute(query)
conn.commit()

### Insert values

In [100]:
query = "INSERT INTO info(Firstname, phone) VALUES (%s, %s)"
values = ("Mohan", 936054578)
cursor.execute(query, values)
conn.commit()

query = "select * from info"
cursor.execute(query)
for i in cursor:
    print(i)

(1, 'Mohan', 936054578)

#### Insert multiple values

In [101]:
query = "INSERT INTO info(firstname,phone) VALUES (%s,%s)"
values = [("pragadeesh",942332343), ("pugal",234421244)]
cursor.executemany(query,values)                          # Enecutemany is used

conn.commit()

query = "select * from info"
cursor.execute(query)
for i in cursor:
    print(i)

(1, 'Mohan', 936054578)
(2, 'pragadeesh', 942332343)
(3, 'pugal', 234421244)

### Deleting rows

In [102]:
query = "delete from info where Firstname = %s"
cursor.execute(query, ("mohan",))
conn.commit()

query = "select * from info"
cursor.execute(query)
for i in cursor:
    print(i)

(2, 'pragadeesh', 942332343)
(3, 'pugal', 234421244)

### Drop table

In [103]:
query = "Drop table info"
cursor.execute(query)
conn.commit()